doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Content
	body
		h1 Witaj #{username}!
		h1 Tu znajdziesz tajne informacje o Marsjanach.
		h2 Tylko krok dzieli Cię od poznania tajemnicy o pozaziemskich formach życia.
		p Wyślij SMS'a za 99,90zł + VAT na numer 1234 i dołącz do grupy "ENLIGHTENMENT".
		img(src='/1.jpg') 
	