doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Log in
	body
		form(action='http://localhost:3000/content', method='GET')
			p
				| Nazwa użytkownika:	
				br
				input(type='text', name='username' required)
			p
				| Hasło: 
				br
				input(type='password', name='password' required)
			button(type='submit', value=Login) Zaloguj
				